<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title> Еженедельная рассылка новостей! </title>
</head>
<body>
    <h1> Здравствуйте, {{ subscribe.user }}, новые статьи в категории {{ subscribe.category }} за прошедшую неделю! </h1>
<hr>
{% for news in post %}
    {% if news.postThrough.dateCreation %}
        <p> {{ news.postThrough.dateCreation }} <a href="http://127.0.0.1.8000{% url 'news_detail' news.postThrough.id %}" class="btn btn-outline-success">{{ news.postThrough.title }}</a></p>
    {% endif %}
{% endfor %}
<br>
</body>
</html>